*.iml
*/.idea/
.idea
target
*/**/activemq-data/
*/**/*.~vsd
.settings/
.project
.classpath
bin


atlassian-ide-plugin.xml



boss/boss-core/src/main/java/META-INF/MANIFEST.MF
boss/boss-dao/src/main/java/META-INF/MANIFEST.MF
boss/boss-pojo/src/main/java/META-INF/MANIFEST.MF
boss/boss-util/src/main/java/META-INF/MANIFEST.MF
boss/boss-web/.mymetadata
boss/boss-web/src/main/webapp/META-INF/MANIFEST.MF
node_modules
